<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Dojos</h1>
    {%for data in dojo_data%}
    <a href="/show_dojo_ninjas/{{data.id}}" style="font-size: 120%;">{{data.name}}</a>
    <br><a href="/edit/{{data.id}}">edit</a>
    <a href="/delete/{{data.id}}">delete</a>
    <hr>
    {%endfor%}
    <br> <a href="/">Home</a>
</body>
</html>